spring:
  datasource:
    url: jdbc:h2:./appdb
    username: sa
    password:


  h2:
    console:
      enabled: true
  jpa:
    generate-ddl: true
    hibernate:
   #   ddl-auto: create-drop
    show-sql: true